.icon {
    padding-right: 5px;
}

.line {
    margin-left: 11px;
    margin-top: 0px;
    padding-top: 0px;
}

.stack {
    margin-left: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.stack-item {
    text-decoration: none;
    display: flex;
    padding: 0.5rem 0.5rem;
    font-weight: 500;
    color: #555555;
    transition: color 0.3s ease-in-out;
    border: none;
    background: none;
}

.sync {
    float: right;
}

.sync p {
    padding-left: 10px;
    display: inline;
    color: gray;
    font-size: 12px;
    font-weight: bold;
}

.table {
    margin-left: 50px;
    margin-top: 20px;
}

.table-options {
    margin-bottom: 20px;
}

.table-options button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: rgb(182, 57, 59);
    color: white;
    text-align: left;
    padding-left: 10px;
}


.table-options i {
    padding-left: 20px;
}

.active {
    color: rgb(244, 76, 78);
}